/* ===============================
   HEADER STYLING
=============================== */
.header {
  position: relative;
  min-height: 50px;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 999;
  padding: 16px;
  min-height: 50px;
  display: flex;
  align-items: center;
  background-color: var(--neutral-100);
}

.header .logo {
  font-size: 20px;
  font-weight: 400;
  color: var(--neutral-800);
}

/* ===============================
     BURGER NAVIGATION
  =============================== */
.burger-navigation {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--neutral-800);
  position: relative;
}

/* Burger Lines (Default State) */
.burger-middle-line,
.burger-top-line,
.burger-bottom-line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--neutral-100);
  width: 24px;
  min-height: 2px;
  transition: all 0.3s;
  pointer-events: none;
  opacity: 1;
  animation: showMiddleBurgerLine 0.3s 0.1s both;
}

.burger-top-line {
  top: calc(50% - 8px);
  animation: showTopBurgerLine 0.3s 0.1s both;
}

.burger-bottom-line {
  top: calc(50% + 8px);
  animation: showBottomBurgerLine 0.3s 0.1s both;
}

/* Burger Active State */
.burger-navigation.active .burger-middle-line {
  opacity: 0;
  animation: hideMiddleBurgerLine 0.3s 0.1s both;
}

.burger-navigation.active .burger-top-line {
  animation: hideTopBurgerLine 0.7s both;
}

.burger-navigation.active .burger-bottom-line {
  animation: hideBottomBurgerLine 0.7s both;
}

/* List in navigation */
.navigation-item {
  background-color: var(--neutral-100);
  padding: 22px 24px;
  position: absolute;
  top: -226px;
  left: 0;
  z-index: 1;
  border-bottom: 1px solid var(--neutral-400);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
  transition: all 0.65s;
}

.navigation-item.active {
  top: 82px;
}

.navigation-link {
  display: flex;
  gap: 10px;
  align-items: center;
}

.navigation-item li:last-child .navigation-link {
  margin-top: 16px;
}

.navigation-list {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navigation-list a {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 18px;
  display: none;
}

.navigation-item-desktop {
  display: none;
  gap: 40px;
}

/* ===============================
     ANIMATIONS: HIDE BURGER LINES
  =============================== */
@keyframes hideTopBurgerLine {
  0% {
    top: calc(50% - 8px);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    top: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  75% {
    top: 50%;
    transform: translate(-50%, -50%) rotate(60deg);
  }
  100% {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

@keyframes hideMiddleBurgerLine {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes hideBottomBurgerLine {
  0% {
    top: calc(50% + 8px);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    top: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  75% {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
  }
  100% {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

/* ===============================
     ANIMATIONS: SHOW BURGER LINES
  =============================== */
@keyframes showTopBurgerLine {
  0% {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  50% {
    top: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    top: calc(50% - 8px);
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

@keyframes showMiddleBurgerLine {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showBottomBurgerLine {
  0% {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  50% {
    top: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    top: calc(50% + 8px);
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

/* Responsive */

@media (min-width: 480px) {
  .navigation-item {
    gap: 24px;
    top: -370px;
    padding-top: 0;
    padding-bottom: 36px;
  }

  .header .logo {
    font-size: 24px;
  }

  .navigation-item a {
    font-size: 22px;
  }

  .navigation-item li:last-child .navigation-link {
    margin-top: 10px;
  }
  .navigation {
    padding: 20px 24px;
  }
  .burger-navigation {
    width: 56px;
    height: 56px;
  }

  .navigation-item.active {
    top: 96px;
  }
}

@media (min-width: 768px) {
  .navigation-item {
    padding: 10px 24px 0px;
    gap: 36px;
  }

  .header .logo {
    font-size: 24px;
  }

  .navigation-item a {
    font-size: 22px;
  }

  .navigation {
    padding: 27px 24px;
  }
  .navigation-item.active {
    top: 96px;
  }
  .navigation-item li:last-child .navigation-link {
    display: none;
  }
  .burger-navigation {
    width: 64px;
    height: 64px;
  }
  .navigation-item.active {
    top: 115px;
  }
  .navigation-list a {
    display: flex;
  }
}

@media (min-width: 992px) {
  .burger-navigation {
    display: none;
  }
  .navigation {
    padding: 32px 24px;
  }
  .navigation-item {
    border-bottom: none;
  }
  .navigation-item-desktop {
    display: flex;
  }
  .navigation-link {
    font-size: 18px;
  }

  i {
    font-size: 22px;
  }
}
